html {
    background-color: #F1F1D3;
}

body {
    text-align: center;
    margin: auto;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 75px;
    font-style: normal;
    color: #7DC2A5;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#recipe-box {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-family: "Moderustic", sans-serif;
    outline: none;
}

#recipe-submit {
    font-family: "Moderustic", sans-serif;
    background-color: #7DC2A5;
    outline: 2px solid black;
    border-radius: 10px;
    border: none;
    width: 50px;
}

#recipe {
    border: none;
    border-radius: 25px;
    outline: 2px solid black;
    width: 500px;
    height: 50px;
    margin: auto;
}