html {
    background-color: #F1F1D3;
}

body {
    text-align: center;
    margin: auto;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 75px;
    font-style: normal;
    color: #7DC2A5;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}